.marquee {
  .swiperBox {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    overflow: hidden;
    background: #fff;
    text-align: left;
    padding: 0 3em 0 2em;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #dadada;
    @media (max-width: 991px) {
      margin: 1.5em 0em;
    }
    .swiper {
      height: 40px;
    }
    .swiper-arrow {
      position: absolute;
      cursor: pointer;
      transform: translateY(0%);
      padding: 15px 10px;
      left: 0px;
      background: rgba(255, 255, 255, 0.4);
      z-index: 9;
      &::before {
        content: '';
        width: 20px;
        height: 30px;
        display: block;
        background: url('../vendor/swiper-8.4.2/ar.svg') center no-repeat;
      }
      &.swiper-prev {
        top: 0;
      }
      &.swiper-next {
        bottom: 0;
        &::before {
          transform: rotate(180deg);
        }
      }
      &.swiper-arrow-disabled {
        opacity: 0.3;
      }
    }
  }
  a {
    display: block;
    line-height: 40px;
    margin-right: 3em;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000;
    text-decoration: none;
    span {
      color: #7cb52f;
      margin-right: 15px;
    }
    &:hover {
      color: #7cb52f;
    }
  }
}
