/////////////////////////////////////////////////////////以下為demo範例///

// 首頁區塊設定
.mpSlider {
  .swiperControlBox {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 9;
    display: flex;
    gap: 5px;

    button {
      background: #000;
      border-radius: 50%;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      aspect-ratio: 1;
      font-size: 14px;
      margin: 0;
      border: none;
      width: 48px;
      height: 48px;
      white-space: nowrap;
      border: 2px solid #fff;

      &.active {
        border: 2px solid #000;
        background: #fff;
        color: #000;
      }
    }
  }

  .item {
    img {
      min-height: 350px;
    }

    .titleBox {
      position: absolute;
      max-width: rem(1200);
      padding: 20px;
      width: 100%;
      margin: auto;
      inset: 0 0 70px;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      line-height: 1;

      @include screen('mobile') {
        padding: 20px 60px;
      }

      h1,
      h2 {
        padding: 0;
        margin: 0 0 10px;
        font-size: rem(24);

        @include screen('mobile') {
          font-size: rem(18);
        }
      }

      h1 {
        font-size: rem(40);

        @include screen('tablet') {
          font-size: rem(30);
        }

        @include screen('mobile') {
          font-size: rem(22);
        }
      }

      p {
        margin: 0;
        font-size: rem(16);
      }
    }

    .txtBox {
      position: absolute;
      background: rgb(8 31 56/80%);
      bottom: 0;
      left: 0;
      width: 100%;

      .txt {
        font-size: rem(18);
        padding: 20px;
        width: 100%;
        margin: 0 auto;
        color: #fff;
        max-width: 75rem;

        @include screen('tablet') {
          font-size: rem(16);
        }
      }
    }
  }
}

section {
  .titleBox {
    font-size: rem(28);
    text-align: center;
    font-weight: bold;
    padding: 8% 0 4.8%;

    @include screen('tablet') {
      font-size: rem(22);
    }
  }

  .listBox {
    margin-bottom: 30px;
  }

  .more {
    display: block;
    width: 170px;
    border-radius: 2px;
    position: relative;
    margin: 0 0 0 auto;
    color: #333333;
    font-size: rem(15);
    background: #cfcfcf;
    text-align: center;
    padding: 10px;
  }
}

.listTypeA {
  .item {
    border: #e2e2e2 1px solid;
    border-width: 1px 0;

    a {
      display: flex;
      align-items: center;
      padding: 20px 0;

      @include screen('xsMobile') {
        align-items: flex-start;
        flex-direction: column;
      }

      // &:focus-visible,
      &:hover {
        .title {
          color: #0094e0;
          cursor: pointer;
        }
      }
    }

    & + .item {
      border-width: 0 0 1px;
    }
  }

  .date {
    text-align: center;
    width: 170px;
    color: #545454;

    @include screen('xsMobile') {
      text-align: left;
      margin-bottom: 10px;
    }
  }

  .title {
    flex: 1 0 calc(100% - 170px);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    color: #1a1a1a;
    margin: 0;
    font-weight: normal;
    font-size: rem(16);
  }
}

.listTypeB {
  .item a {
    display: block;
  }

  .date,
  .txt,
  .title {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    z-index: 1;

    @include screen('mobile') {
      margin-left: 0px;
      margin-right: 0px;
    }
  }

  .title {
    margin-top: -10%;
    margin-bottom: 20px;
    height: 75px;
    padding: 0;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    span {
      background: #000;
      padding: 5px 10px;
      color: #fff;
      font-size: rem(18);
      display: block;
      margin-bottom: 5px;
    }
  }

  .date {
    font-size: rem(18);
    color: #030303;
    display: block;
    font-family: 'Verdana';
    margin-bottom: 30px;
    position: relative;
    letter-spacing: 2px;

    @include screen('tablet') {
      font-size: rem(16);
    }

    &::before {
      content: '';
      position: absolute;
      width: 38px;
      height: 3px;
      display: block;
      bottom: -15px;
      left: 0;
      background: #001827;
    }
  }

  .txt {
    font-size: rem(16);
    line-height: 1.6;
    letter-spacing: 1px;
    color: #545454;
  }
}

.listTypeC {
  .flexSet {
    align-items: flex-end;
  }

  .item {
    margin-bottom: 30px;

    .pic {
      line-height: 0;
    }

    .col {
      padding: 0;
      margin: 0;

      & + .col {
        padding: 20px 0 0 3%;
      }
    }
  }

  .title {
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-size: rem(20);
    color: #000;
    font-weight: 500;
    line-height: 1.6;
  }

  .date {
    font-size: rem(14);
    color: #666666;
    display: block;
    font-family: 'Verdana';
    margin-bottom: 10px;
    position: relative;
    letter-spacing: 2px;
  }

  .txt {
    font-size: rem(16);
    line-height: 1.6;
    letter-spacing: 1px;
    color: #545454;
  }
}

.listTypeD {
  .item a {
    display: block;
    padding-right: 20px;

    @include screen('mobile') {
      padding-right: 0px;
    }
  }

  .pic {
    position: relative;
    margin-bottom: 10px;

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      display: block;
      height: 30%;
      bottom: 0;
      left: 0;
      width: 100%;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    }

    img {
      width: 100%;
      aspect-ratio: 23/31;
      display: block;
      object-fit: cover;
    }
  }

  .topBox {
    position: absolute;
    bottom: 0;
    left: 30px;
    right: -20px;
    z-index: 2;
  }

  .txt {
    margin-left: 30px;
    margin-right: 0px;
    position: relative;
    z-index: 1;
  }

  .title {
    padding: 0;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 20px 0;

    span {
      background: #000;
      padding: 5px 10px;
      color: #fff;
      font-size: rem(18);
      display: block;
      margin-bottom: 5px;
    }
  }

  .date {
    font-size: rem(18);
    color: #030303;
    display: block;
    font-family: 'Verdana';
    margin-bottom: 30px;
    position: relative;
    letter-spacing: 2px;

    &::before {
      content: '';
      position: absolute;
      width: 38px;
      height: 3px;
      display: block;
      bottom: -15px;
      left: 0;
      background: #001827;
    }
  }

  .txt {
    font-size: rem(16);
    line-height: 1.6;
    letter-spacing: 1px;
    color: #545454;
  }
}

.listTypeE {
  .item a {
    display: block;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 2;
      display: block;
      background: rgb(0 0 0/20%) url('../images/demo/icon_play.png') center no-repeat;
      transition: 0.3s ease-out;
    }

    img {
      display: block;
    }

    &:hover {
      &:before {
        opacity: 0;
      }
    }
  }
}

.listTypeF {
  i {
    max-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    margin: 0 auto 10px;
    background: linear-gradient(135deg, rgba(0, 93, 157, 1) 20%, rgba(152, 209, 167, 1) 100%);

    img {
      width: 60%;
    }
  }

  .txt {
    text-align: center;
    color: #000;
    font-weight: 500;
    font-size: rem(16);
  }
}

.listTypeG {
  padding-bottom: 3%;
  background: url('../images/demo/listtypeg_bg.jpg') center no-repeat;

  .item a {
    display: block;
  }

  .pic {
    position: relative;

    img {
      width: 100%;
      aspect-ratio: 1/2;
      display: block;
      object-fit: cover;
    }
  }

  .topBox {
    position: absolute;
    inset: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .title {
    padding: 0;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;

    span {
      background: #000;
      padding: 5px 10px;
      color: #fff;
      font-size: rem(18);
      display: block;
      margin-bottom: 5px;
    }
  }

  .date {
    font-size: rem(18);
    color: #030303;
    display: block;
    font-family: 'Verdana';
    margin-bottom: 30px;
    position: relative;
    letter-spacing: 2px;

    &::before {
      content: '';
      position: absolute;
      width: 38px;
      height: 3px;
      display: block;
      bottom: -15px;
      left: 0;
      background: #001827;
    }
  }
}

.adSlider {
  padding: 3% 0 0;

  .swiperBox {
    padding: 0 50px;
  }
}